#title {
    font-size: 400%;
    width: 60vmax;
}

#subtitle {
  font-size: 20px;
  color: gray;
}

.center {
  margin: auto;
  padding: auto;
  text-align: center;
}

#img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 1200px) {
  .font {
    padding: 0px 200px 15px 200px;
  }
}
